* {
  box-sizing: border-box;
}

.nav-fl {
  height: 40px;
  background-color: #3e3e3e;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.nav-fl div a:hover {
  text-decoration: none;
}

.carousel {
  height: 800px;
}

.carousel-item img {
  width: auto;
  height: 800px;
  opacity: 20%;
}

figure a img {
  width: 60px;
  height: 60px;
}

figure a div p,
figure a div span {
  font-size: 20px;
}

main {
  margin-top: 100px;
}

.line-height-100 {
  line-height: 100%;
}

header {
  height: 60px;
}

.nav-text {
  color: #3e3e3e;
}

.col-org {
  color: #ec5242;
}


.lato {
  font-family: "Lato";
}

a:hover {
  text-decoration: none;
}

.carousel-sec {
  position: relative;
}

.whatsNew {
  position: absolute;
  top: 15%;
  left: 15%;
}

.whatsNew h2 {
  font-size: 50px;
}

.cocogoose {
  font-family: "COCOGOOSE";
}

.whatsNew h1 {
  font-size: 70px;
  background-image: url("img/text-shade.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.whatsNew p {
  background-color: #f7f7f7;
  border: 3px solid white;
}

.mainProg {
  /* background-image: url("img/main_program.jpg"); */
  background-color: #272a31;
  /* background-repeat: repeat; */
  margin: 0;
}

.mainProgFooter {
  margin-bottom: 100px;
}

.mainProg h4::after,
.featArtist > h4::after,
.partner h4::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50px;
  padding-top: 10px;
  border-bottom: 2px solid #ec5242;
}

.featArtist {
  /* background-image: url("img/main_program.jpg"); */
  background-color: white;
  /* background-repeat: repeat; */
  margin: 0;
  padding-bottom: 100px;
}

.programs {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 19.5%);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
}

.artist {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 4%;
}

.programs article a img {
  width: 60px;
  height: 60px;
}

.programs article p {
  font-size: 0.9em;
}

.programs article {
  /* border: 1px solid red; */
  background-color: grey;
  /* opacity: 10%; */
  margin: 50px 0;
}

.programs article h6 {
  font-size: 1.1em;
}

.programs article:hover {
  border: 2px solid white;
}

.Imgbg {
  width: 100px;
  height: 100px;
  margin-bottom: 55px;
  margin-right: 80px;
}

.artImg {
  width: 150px;
  height: 150px;
  top: 15px;
  left: 15px;
}

.artDesc {
  padding-left: 180px;
}

.artist article a h4 {
  font-size: 1.2em;
  padding-top: 15px;
  padding-left: 180px;
  margin-bottom: 0;;
}

.partner {
  background-color: rgb(65, 64, 64);
}

.partner h4 {
  color: rgb(175, 172, 172);
}

.aboutPartners {
  display: grid;
  grid-template-columns: repeat(5, 17%);
  grid-column-gap: 3%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.aboutPartners a img {
  width: 100%;
  height: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

footer div a img {
  width: 80px;
  height: 80px;
}

footer div a div p,
footer div a div span {
  font-size: 24px;
}

footer div a .line-height-100 {
  line-height: 140%;
}