* {
  box-sizing: border-box;
}

.nav-fl {
  height: 40px;
  background-color: #3e3e3e;
}

.wrapper {
  width: 70%;
  margin: 0 auto; 
}

.nav-fl div a:hover {
  text-decoration: none;
}

figure a img {
  width: 60px;
  height: 60px;
}

figure a div p,
figure a div span {
  font-size: 20px;
}

.col-org {
  color: #ec5242;
}


.lato {
  font-family: "Lato";
}

a:hover {
  text-decoration: none;
}

.nav-text {
  color: #3e3e3e;
}

.line-height-100 {
  line-height: 100%;
}

.wrapper {
  width: 70%;
  margin: 0 auto; 
}

main {
  margin-top: 100px;
}

header {
  height: 60px;
}

.fa-home,
.fa-chevron-right {
  font-size: 1.3em;
}

.tickets div nav p {
  font-size: 1.1em;
  text-align: center;
}

.stepsWrap {
  border: 1px solid #d3d3d3;
  border-radius: 35px;
}

.stepsWrap ul li {
  font-size: 1.2em;
}

.selTicket h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50px;
  padding-top: 10px;
  border-bottom: 2px solid #ec5242;
}