* {
  box-sizing: border-box;
}

.nav-fl {
  height: 40px;
  background-color: #3e3e3e;
}

.wrapper {
  width: 70%;
  margin: 0 auto; 
}

.nav-fl div a:hover {
  text-decoration: none;
}

figure a img {
  width: 60px;
  height: 60px;
}

figure a div p,
figure a div span {
  font-size: 20px;
}

.col-org {
  color: #ec5242;
}

.lato {
  font-family: "Lato";
}

a:hover {
  text-decoration: none;
}

.nav-text {
  color: #3e3e3e;
}

.line-height-100 {
  line-height: 100%;
}

.wrapper {
  width: 70%;
  margin: 0 auto; 
}

main {
  margin-top: 100px;
}

header {
  height: 60px;
}

.fa-home,
.fa-chevron-right {
  font-size: 1.3em;
}

.tickets div nav p {
  font-size: 1.1em;
  text-align: center;
}

.stepsWrap {
  border: 1px solid #d3d3d3;
  border-radius: 35px;
}

.stepsWrap ul li {
  font-size: 1.2em;
}

.selTicket h2::after,
.selLunch h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50px;
  padding-top: 10px;
  border-bottom: 2px solid #ec5242;
}

.selTicket h2,
.selLunch h2 {
  font-size: 1.6em;
  font-weight: bold;
}

.ticketSec {
  width: 90%;
}

.amount {
  border-bottom: 0;
  font-size: 1.3em;
}

.radio {
  border-top: 0;
}

.cocogoose {
  font-family: "COCOGOOSE";
}

/* p {
  margin-bottom: 0;
} */

th, td {
  text-align: center;
  border: 1px solid rgb(195, 193, 193);
  padding: 5px;
}

table {
  margin-bottom: 70px;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 255, 0.8);
  border-image: repeating-linear-gradient(-45deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0.8) 5px, transparent 6px, transparent 10px, rgba(255, 0, 0, 0.8) 11px, rgba(255, 0, 0, 0.8) 15px, transparent 16px, transparent 20px) 10/10px; 
}

.lunch {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.box {
  display: block;
  transform: rotate(-45deg);
  content: "";
  width: 40px;
  height: 40px;
  margin: 0;
  background-color: #ec5242;
  position: absolute;
  top: -20px;
}

.fa-chevron-left {
  padding: 13px;
  transform: rotate(-45deg);
}

.selLunch {
  margin-bottom: 50px;
  margin-top: 50px;
}

.selLunch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day1Menu {
  display: flex;
  height: 70px;
  flex-direction: row;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.menuSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 1px solid grey;
  height: 100px;
  margin-bottom: 40px;
}

.menuSec h6 {
  background-color: #d3d3d3;
  height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

.submit {
  background-color: #ec5242;
  color: white;
  height: 50px;
  font-weight: bold;
  border: 0;
}
